<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="../../bitbug_favicon.ico"> 
  <title>留言板</title>
  <link href="../stylesheets/nav.css" rel="stylesheet" type="text/css" />
  <link href="../stylesheets/about.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
  body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, form,fieldset,input,textarea,p,blockquote,th,td { padding: 0; margin:
0; }
      .developing {
          text-align: center;
          font-size: 60px;
          padding-top: 220px;
      }
      body {
          background: none;
      }
      .ds-meta {
          display: none;
      }
  </style>
</head>

<body>
  <header class="header">
    <nav id="top" class="wrap clearfix">
      <div class="logo">
       <p id="hujian">HuJian</p>
     </div>  
     <div class="login">
      <ul class="rnav">     
       <li><a href="about.html">关于</a></li>
       <li><a href="board.html" id="now">留言板</a></li>       
       <li><a href="me.html">个人信息</a></li>  
       <li><a href="demo.html">Demo</a></li>
       <li><a href="moive.html">电影</a></li>
       <li><a href="music.html">音乐</a></li>
       <li><a href="read.html">读书</a></li>
       <li><a href="../../index.html">首页</a></li>
     </ul>
   </div>  
 </nav>
</header>

<section class="bg">
  <section class="wrap container clearfix duoshuo">
  <h3>欢迎您在下方留言!</h3>    
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="me" data-title="个人信息" data-url="http://localhost/mysite/public/views/me.html"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
      var duoshuoQuery = {short_name:"colorcat"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] 
       || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
    <!-- 多说公共JS代码 end -->
  </section>
</section>
</body>
</html>