<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="../../bitbug_favicon.ico">
<title>Demo</title>
<link href="../stylesheets/main.css" rel="stylesheet" type="text/css" />
<link href="../stylesheets/demo.css" rel="stylesheet" type="text/css" />
</head>

<body>
<nav id="top" class="wrap">
    <div class="logo">
       <p id="hujian">HuJian</p>
    </div>	
    <div class="login">
        <ul class="rnav">     
           <li><a href="about.html">关于</a></li>
           <li><a href="board.html">留言板</a></li>           
           <li><a href="me.html">个人信息</a></li>	
           <li><a href="demo.html" id="now">Demo</a></li>
           <li><a href="moive.html">电影</a></li>
           <li><a href="music.html">音乐</a></li>
           <li><a href="read.html">读书</a></li>
           <li><a href="../../index.html">首页</a></li>
       </ul>
   </div>	 
</nav>

<section class="wrap clearfix">
    <p class="demos-intro">HTML/CSS/BootStrap</p>
    <ul class="demos-frame">
      <li id="shanhu" class="demos"><a href="demos/shanhu.html" target="_blank">一个网站首页(有点丑..)</a></li>
      <li id="bootstrappage" class="demos"><a href="demos/bootstrappage.html" target="_blank">一个boostrap页面</a></li>
      <li id="shop" class="demos"><a href="demos/shop/home.html" target="_blank">一个移动页面</a></li>
    </ul>
</section>

<section class="wrap clearfix">
    <p class="demos-intro">JavaScript/jQuery</p>
    <ul class="demos-frame">
      <li id="pictureplay" class="demos"><a href="demos/pictureplay.html" target="_blank">全屏相册</a></li>
  <!--     <li id="marnifying" class="demos"><a href="demos/marnifying.html" target="_blank">放大镜特效</a></li> -->
      <li id="listsilde" class="demos"><a href="demos/listsilde.html" target="_blank">Apple产品滑动</a></li>
      <!-- <li id="turntable" class="demos"><a href="demos/turntable.html" target="_blank">转盘抽奖</a></li> -->
      <!-- <li id="accordion" class="demos"><a href="demos/accordion.html" target="_blank">手风琴滑动</a></li> -->
      <!-- <li id="tab" class="demos"><a href="demos/tab.html" target="_blank">选项卡</a></li> -->
      <li id="tank" class="demos"><a href="demos/tank.html" target="_blank">简单的canvas</a></li>
      <li id="dialog" class="demos"><a href="demos/dialog.html" target="_blank">UI组件-响应式弹窗</a></li>
<!--       <li id="strings" class="demos"><a href="demos/strings.html" target="_blank">字符串查找</a></li>
      <li id="stringsmove" class="demos"><a href="demos/stringsmove.html" target="_blank">文字搬运工</a></li> -->
      <li id="showbigimg" class="demos"><a href="demos/showbigimg.html" target="_blank">UI组件-显示多张大图</a></li>
    </ul>
</section>

<section class="wrap clearfix">
    <p class="demos-intro">Back-end</p>
    <ul class="demos-frame">
      <li id="node" class="demos"><a href="https://github.com/HuJian21/study_nodejs/tree/master/blog" target="_blank">一个Node.js博客</a></li>
      <li id="phpmysql" class="demos"><a href="https://github.com/JianSpace/graduation-project" target="_blank">php试题管理系统</a></li>
    </ul>
</section>


</body>
</html>
