<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demo</title>
  <link rel="shortcut icon" href="../../bitbug_favicon.ico"> 
  <link href="../stylesheets/nav.css" rel="stylesheet" type="text/css" />
  <link href="../stylesheets/about.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
      .developing {
          text-align: center;
          font-size: 60px;
          padding-top: 220px;
      }
      body {
        background: url('../images/bg5.jpg') no-repeat;
        background-size: cover;
      }
  </style>
</head>

<body>
  <header class="header">
    <nav id="top" class="wrap clearfix">
      <div class="logo">
       <p id="hujian">HuJian</p>
     </div>  
     <div class="login">
      <ul class="rnav">     
       <li><a href="about.html">关于</a></li>
       <li><a href="me.html">个人信息</a></li>  
       <li><a href="demo.html">Demo</a></li>
       <li><a href="photo.html">相片组</a></li>
       <li><a href="moive.html" id="now">电影</a></li>
       <li><a href="music.html">音乐</a></li>
       <li><a href="read.html">读书</a></li>
       <li><a href="../../index.html">首页</a></li>
     </ul>
   </div>  
 </nav>
</header>

<section class="bg">
  <section class="wrap container clearfix">
    <p class="developing">建设中...</p>
  </section>
</section>
</body>
</html>