<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" href="../../bitbug_favicon.ico"> 
<title>音乐</title>
<link href="../stylesheets/main.css" rel="stylesheet" type="text/css">
<link href="../stylesheets/music.css" rel="stylesheet" type="text/css">
<script src="../javascripts/lib/jquery-2.1.4.js" type="text/javascript"></script>
<script src="../javascripts/music.js" type="text/javascript"></script>
</head>

<body>
<div id="top" class="wrap">

     <div class="logo">
	 <p id="hujian">HuJian</p>
	 </div>	
      
	 <div class="login">
	   <ul class="rnav">     
           <li><a href="about.html">关于</a></li>
           <li><a href="me.html">个人信息</a></li>	
           <li><a href="demo.html">Demo</a></li>
           <li><a href="photo.html">相片组</a></li>
           <li><a href="moive.html">电影</a></li>
           <li><a href="music.html" id="now">音乐</a></li>
           <li><a href="read.html">读书</a></li>
           <li><a href="../../index.html">首页</a></li>
       </ul>
	 </div>	 
</div>

<div class="headerimg wrap">
<!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=960 height=275 src="http://music.163.com/outchain/player?type=0&id=149493&auto=0&height=430"></iframe> -->
<img src="../images/music/1.png"  height="175px"  width="960px" id="rimg">
</div>

<div class="rcontent wrap">

    <div class="rctleft">
    
        <div class="atstyle bod">喜欢的音乐</div>
        
        <div class="rctli">
            <div class="rctlileft">
              <img src="../images/music/four season.jpg" width="180px" height="240px" id="rcimg">
            </div>
            
            <div class="rctliright">
              <div class="anna">
                 <a href="#">四季（春）</a><span class="audiocontrol">音乐播放控制器</span>
                 <span class="listen">试听&nbsp;
                     <span class="musicplay listenonclick cursorpointer" target="_blank" title="背景播放">▶</span>
                </span>
                 <p class="author">作曲:【意】<span title="安东尼奥·卢奇奥·维瓦尔第（意大利语：Antonio Lucio Vivaldi，1678年3月4日－1741年7月28日），男，是一位意大利神父，也是巴洛克音乐作曲家，同时还是一名小提琴演奏家。" class="authortitle cursorpointer">维瓦尔蒂</span></p><br>
                 <div class="show">
                      "四季的标题并非后人附会，而是出自维瓦尔第本人之手。他甚至还为每首曲子写了一首解释性的14 行诗，并将每一句诗印在相应的乐段谱上。譬如第一首，E 大调的《春》，首乐章开头的诗句是"春光重返大地"，而乐曲昂扬的旋律，配着兴高采烈的顿音节奏，也真是一派欣欣向荣！又譬如第二首《夏》，开头的几句维瓦尔第解释为"夏日炎炎，人畜萎靡不振。"你不妨对照听听，是不是这情形？
　　四首协奏曲里，最迷人的乐章，恐怕要算《冬》的"广板"了。按照作者诗句的解释，乐队中的小提琴拨弦意味着在房子外面把许多人淋成落汤鸡的浙沥的雨点，而独奏小提琴的亲切、流畅的旋律，则表达了屋里那些依傍火炉而坐的人们感到幸运而心满意足。容我老实挖苦一句：这段曲子的纯净之美，远不是维瓦尔第这番蹩脚、俗气的注解所能比拟。
　　马里纳版的《四季》丰润，秀美，版本最佳。而阿卡多的那张（Philips 422 065-2），分别用四把斯特拉迪瓦里名琴来拉"四季"，仿佛是存心让咱们的耳朵经受考验。 "
                 </div>
                 <p class="showall">显示全部<span>&nbsp;∨</span></p>
                 <p class="pstar">评分：<span class="star">★★★★★</span><span class="classes">类别：<span class="star cursorpointer">Classical</span></span></p>
              </div>
            </div>
        </div>

<div id="clear"></div>     
        
        <div class="rctli">
            <div class="rctlileft">
              <img src="../images/music/ckfsj.png" width="180px" height="240px" id="rcimg">
            </div>
            
            <div class="rctliright">
              <div class="anna">
                 <a href="#">花之圆舞曲</a><span class="audiocontrol">音乐播放控制器</span><span class="listen">试听&nbsp;<span class="musicplay listenonclick cursorpointer" target="_blank" title="背景播放">▶</span></span>
                 <p class="author">作曲:【俄】<span title="安东尼奥·卢奇奥·维瓦尔第（意大利语：Antonio Lucio Vivaldi，1678年3月4日－1741年7月28日），男，是一位意大利神父，也是巴洛克音乐作曲家，同时还是一名小提琴演奏家。" class="authortitle cursorpointer">柴可夫斯基</span></p><br>
                 <div class="show">
                      "《胡桃夹子》是两幕三场梦幻芭蕾舞剧，由俄罗斯著名作曲家柴可夫斯基作于1892年。剧本是彼季帕根据恩斯特·霍夫曼的童话《胡桃夹子和鼠王》及大仲马的改编本写成的。作者从舞剧中选了六首曲子作为《胡桃夹子组曲》，同年3月7日在一次交响乐演奏会上首演，获得了巨大的成功。同年12月6日舞剧在彼得堡首演。 这部作品是柴科夫斯基三部芭蕾舞剧代表作品之一，也是世界舞蹈舞台上久演不衰的舞剧精品之一。花之圆舞曲是其中第二幕第三场第13曲"
                 </div>
                 <p class="showall">显示全部<span>&nbsp;∨</span></p>
                 <p class="pstar">评分：<span class="star">★★★★★</span><span class="classes">类别：<span class="star cursorpointer">Classical</span></span></p>
              </div>
            </div>
        </div>



<div id="clear"></div> 
       
        <div class="rctli">
            <div class="rctlileft">
              <img src="../images/music/ambre.jpg" width="180px" height="240px" id="rcimg">
            </div>
            
            <div class="rctliright">
              <div class="anna">
                 <a href="#">Ambre</a><span class="audiocontrol">音乐播放控制器</span><span class="listen">试听&nbsp;<span class="musicplay cursorpointer audiostyle" target="_blank" title="HTML5播放">▶</span></span>
                 <p class="author">作曲:【德】<span title="Nils Frahm, born in 1982, had an early introduction to music. During his childhood he was taught to play piano by Nahum Brodski – a student of the last scholar of Pyotr Ilyich Tchaikovsky. It was through this that Nils began to immerse himself in the styles of the classical pianists before him as well as contemporary composers. Today Nils Frahm works as a composer and producer in Berlin. In early 2008 he founded Durton Studio, where he has worked with likeminded musicians. " class="authortitle cursorpointer">Nils Frahm</span></p><br>
                 <div class="show">
                 德国音乐人尼尔斯·弗拉姆的作品Ambre（《琥珀》）。黑白琴键的起伏看似平静，就像他的作品，看似安静的外表下包含了各种情感。作品的细节中被有意加入了很多微小的、象征性的表现手法，这种重复而略带抽象的声音，听起来耐人寻味。
                      "The three instrumentals, which make up his debut release 'Wintermusik' are piano led pieces, coloured with occasional celeste and reed organ parts. The record's equal measures of sorrowful refrains and uplifting passages, combined with a real intimacy that makes for an album you'll want to return to again and again. The songs were originally intended as a Christmas present for friends and family and first released on sonic pieces, hence its winter release via London-based cinematic music label Erased Tapes. 

As the curator of the Swedish boutique label Kning Disk's Piano Series, Peter Broderick invited Nils to record a new album of piano improvisations – the result is 'The Bells', which will now also be released on Erased Tapes in the UK, Ireland and North America. The record includes pieces of improvised piano music, which were recorded in the wonderful Grunewald church in Berlin. "
                 </div>
                 <p class="showall">显示全部<span>&nbsp;∨</span></p>
                 <p class="pstar">评分：<span class="star">★★★★★</span><span class="classes">类别：<span class="star cursorpointer">Piano</span></span></p>
              </div>
            </div>
        </div>

<div id="clear"></div> 

<div class="rctli">
            <div class="rctlileft">
              <img src="../images/music/amei.jpg" width="180px" height="240px" id="rcimg">
            </div>
            
            <div class="rctliright">
              <div class="anna">
                 <a href="#">听海</a><span class="audiocontrol">音乐播放控制器</span><span class="listen">试听&nbsp;<span class="musicplay cursorpointer audiostyle" target="_blank" title="HTML5播放">▶</span></span>
                 <p class="author">演唱:【台】<span title="张惠妹（A Mei），1972年8月9日出生于台湾省台东县卑南乡泰安部落，中国台湾原住民歌手。">张惠妹</span></p><br>
                 <div class="show">
                 “《听海》收录于1997年6月张惠妹发行的第二张个人全新专辑《BAD BOY》，由著名音乐人林秋离、涂惠元继续为阿妹量身打造又一抒情力作。这首歌排在曲目的第五首，发行最初并非是作为主打歌，但因为受到歌迷出乎意料的热烈欢迎，迅速成为流行经典。”
                 </div>
                 <p class="showall">显示全部<span>&nbsp;∨</span></p>
                 <p class="pstar">评分：<span class="star">★★★★★</span><span class="classes">类别：<span class="star cursorpointer">Pop</span></span></p>
              </div>
            </div>
        </div>

<div id="clear"></div> 


<div class="rctli">
            <div class="rctlileft">
              <img src="../images/music/sala.jpg" width="180px" height="240px" id="rcimg">
            </div>
            
            <div class="rctliright">
              <div class="anna">
                 <a href="#">Scarborough Fair</a><span class="audiocontrol">音乐播放控制器</span><span class="listen">试听&nbsp;<span class="musicplay cursorpointer audiostyle" target="_blank" title="HTML5播放">▶</span></span>
                 <p class="author">演唱:【英】<span title="Sarah Brightman(莎拉・布莱曼)是英国跨界音乐女高音歌手和演员。她的嗓音嘹亮，被誉为天籁之声。 流行音乐、古典音乐和舞台剧原本是无法融合甚至对立的音乐空间，但是莎拉的歌声却极具创造性地将它们结合在了一起，她用极为难得的艺术手法将所演唱的音乐表现出来，而且仍能不损其原味。其绚丽多彩的美丽造型带人们进入如痴如醉的梦幻世界。">Sarah Brightman</span></p><br>
                 <div class="show">
                 "Scarborough Fair（斯卡堡集市，也译作"斯卡波罗集市"），是一首旋律优美的经典英文歌曲，曾作为第40届奥斯卡获奖影片《毕业生》（The Graduate）的插曲，曲调凄美婉转，给人以心灵深处的触动。《Scarborough Fair》原是一首古老的英国民歌，其起源可一直追溯到中世纪，原唱歌手为保罗·西蒙（Paul Simon）和加芬克尔（Art Garfunkel）。莎拉·布莱曼（Sarah Brightman）翻唱过该歌曲，收录于2000年专辑《La Luna》。此外来自英伦岛屿的 Gregorian格里高利合唱团（又称"教皇合唱团"）也曾翻唱过该歌曲。"
                 </div>
                 <p class="showall">显示全部<span>&nbsp;∨</span></p>
                 <p class="pstar">评分：<span class="star">★★★★★</span><span class="classes">类别：<span class="star cursorpointer">Light</span></span></p>
              </div>
            </div>
        </div>

<div id="clear"></div> 

<div class="rctli">
            <div class="rctlileft">
              <img src="../images/music/lz.jpg" width="180px" height="240px" id="rcimg">
            </div>
            
            <div class="rctliright">
              <div class="anna">
                 <a href="#">梁祝（小提琴协奏曲）</a><span class="audiocontrol">音乐播放控制器</span><span class="listen">试听&nbsp;<span class="musicplay cursorpointer audiostyle" target="_blank" title="HTML5播放">▶</span></span>
                 <p class="author">作曲:【中】<span title="陈钢,1935年生于上海，是中国当代著名的作曲家之一。1933年出生在浙江诸暨的一个农民家庭，创作了中国第一部小提琴协奏曲《梁祝》。">何占豪、陈刚</span></p><br>
                 <div class="show">
                 "《梁祝》小提琴协奏曲是陈钢与何占豪就读于上海音乐学院时的作品，作于1958年冬，翌年 5月首演于上海获得好评，首演由俞丽拿担任小提琴独奏。题材是家喻户晓的民间故事，以越剧中的曲调为素材，综合采用交响乐与我国民间戏曲音乐表现手法，依照剧情发展精心构思布局，采用奏鸣曲式结构，单乐章，有小标题。以"草桥结拜"、"英台抗婚"、"坟前化蝶"为主要内容。由鸟语花香、草桥结拜、同窗三载、十八相送、长亭惜别、英台抗婚、哭灵控诉、坟前化蝶构成的曲式结构。
全曲大概二十六分钟，首先五分钟叙述梁祝爱情主题，然后是快乐的学校生活，接着十八相送。从十一分钟开始进入第二段，祝英台回家抗婚不成，楼台会，最后哭灵。第二段和第一段长度差不多，大约十一分钟。最后一段则是化蝶，是主题再现。"
                 </div>
                 <p class="showall">显示全部<span>&nbsp;∨</span></p>
                 <p class="pstar">评分：<span class="star">★★★★★</span><span class="classes">类别：<span class="star cursorpointer">Classical</span></span></p>
              </div>
            </div>
        </div>

<div id="clear"></div> 



        
    </div>
    

  <div class="rctright">
        <ul class="atstyle fixcategory">分类
           <li class="rctrightli"><a href="#">Classical</a></li>
           <li class="rctrightli"><a href="#">Pop</a></li>
           <li class="rctrightli"><a href="#">Rock</a></li>
           <li class="rctrightli"><a href="#">Piano</a></li>
           <li class="rctrightli"><a href="#">Light</a></li>
           <li class="rctrightli"><a href="#">Opera</a></li>
           <li class="rctrightli"><a href="#">Folk</a></li>
           <li class="rctrightli"><a href="#">Country</a></li>
        </ul>
        <!-- 网易云音乐播放器 -->
        <!-- <div class="163music">
          <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=830 height=450 src="http://music.163.com/outchain/player?type=0&id=149493&auto=0&height=430"></iframe>
        </div>   -->
    </div>
    
    <div id="clear"></div>
</div>

</body>
</html>