<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="../../bitbug_favicon.ico"> 
  <title>Demo</title>
  <link href="../stylesheets/nav.css" rel="stylesheet" type="text/css" />
  <link href="../stylesheets/about.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
      .developing {
          text-align: center;
          font-size: 60px;
          padding-top: 220px;
      }
      body {
        background: url('../images/bg01.jpg') no-repeat;
        background-size: cover;
      }
  </style>
</head>

<body>
  <header class="header">
    <nav id="top" class="wrap clearfix">
      <div class="logo">
       <p id="hujian">HuJian</p>
     </div>  
     <div class="login">
      <ul class="rnav">     
       <li><a href="about.html">关于</a></li>
       <li><a href="me.html">个人信息</a></li>  
       <li><a href="demo.html">Demo</a></li>
       <li><a href="photo.html" id="now">相片组</a></li>
       <li><a href="moive.html">电影</a></li>
       <li><a href="music.html">音乐</a></li>
       <li><a href="read.html">读书</a></li>
       <li><a href="../../index.html">首页</a></li>
     </ul>
   </div>  
 </nav>
</header>

<section class="bg">
  <section class="wrap container clearfix">
  <!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="photo" data-title="留言板" data-url="http://localhost/mysite/public/views/photo.html"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"colorcat"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->
    <!-- <p class="developing">建设中...</p> -->
  </section>
</section>
</body>
</html>