<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>手风琴滑动效果</title>
<link rel="stylesheet" type="text/css" href="../../stylesheets/demos/accordion.css">
<script type="text/javascript" src="../../javascripts//lib/myfunction.js"></script>
<script type="text/javascript" src="../../javascripts/demos/accordion.js"></script>
</head>
<body>
	<p class="title">手风琴滑动效果</p>
	<div id="box">
		<ul>
	    	<li><img src="../../images/demos/1.jpg" alt=""/></li>
	        <li><img src="../../images/demos/6.jpg" alt=""/></li>
	        <li><img src="../../images/demos/3.jpg" alt=""/></li>
	        <li><img src="../../images/demos/4.jpg" alt=""/></li>
	        <li><img src="../../images/demos/5.jpg" alt=""/></li>
	    </ul> 
	</div>
</body>
</html>