<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Apple Products Display</title>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/demos/appleproductsdisplay.css">
	<script type="text/javascript" src="../../javascripts//lib/myfunction.js"></script>
	<script type="text/javascript" src="../../javascripts/demos/appleproductsdisplay.js"></script>
</head>
<body>
    <p>列表滑动效果</p>
	<div class="container">
		<div class="display-box" id="js-display-box">
			<ul class="display">
				<li><a href="#"><img src="../../images/demos/iPod/1.jpg" alt="iphone">iPod shuffle</a></li>
				<li><a href="#"><img src="../../images/demos/iPod/2.jpg" alt="iphone">iPod nano</a></li>
				<li><a href="#"><img src="../../images/demos/iPod/3.jpg" alt="iphone">iPod classic</a></li>
				<li><a href="#"><img src="../../images/demos/iPod/4.jpg" alt="iphone">iPod touch</a></li>
				<li><a href="#"><img src="../../images/demos/iPod/5.jpg" alt="iphone">Apple TV</a></li>
				<li><a href="#"><img src="../../images/demos/iPod/6.jpg" alt="iphone">Accessories</a></li>

				<li><a href="#"><img src="../../images/demos/iPod/7.jpg" alt="Download iTunes 10"/>Download iTunes 10</a></li>
				<li><a href="#"><img src="../../images/demos/iPod/8.jpg" alt="iTunes Gift Cards"/>iTunes Gift Cards</a></li>
				<li><a href="#"><img src="../../images/demos/iPod/9.jpg" alt="Nike + iPod"/>Nike + iPod</a></li>
				<li><a href="#"><img src="../../images/demos/iPod/10.jpg" alt="(PRODUCT) RED"/>(PRODUCT) RED</a></li>
				<li><a href="#"><img src="../../images/demos/iPod/11.jpg" alt="MobileMe"/>MobileMe</a></li>
				<li><a href="#"><img src="../../images/demos/iPod/12.jpg" alt="In-Ear Headphones"/>In-Ear Headphones</a></li>
			</ul>
		</div>
		<div class="controller" id="js-controller">
			<span class="caret"></span>
			<ul>
				<li><a class="show" href="#">Products</a></li>
				<li><a href="#">iTunes and more</a></li>
			</ul>
		</div>
	</div>
</body>
</html>