<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>珊瑚礁</title>
<link href="../../stylesheets/demos/shanhu.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../javascripts/lib/myfunction.js"></script>
<script type="text/javascript" src="../../javascripts/demos/shanhu.js"></script>
<script type="text/javascript" src="../../javascripts/lib/jquery-2.1.4.js"></script>
</head>

<body>
<!--logo-->
<div class="wrap">
   <p class="logo">保护珊瑚礁！</p>
   <div class="login"><div class="loginpsion"><span><a href="#">注册</a></span><span>|</span><span><a href="#">登录</a></span></div></div>
</div>
<div class="cleardiv"></div>
<!--nav-->
<div id="nav" class="nav">
  <ul id="navul0" class="wrap">
      <li class="paddingfix">
          <a href="#">首页</a>
          <ul></ul>
      </li>
      <li id="about">
          <a href="#">关于我们</a>
          <ul class="subnav">
            <a href="#">关于我们</a>
            <a href="#">三沙市介绍</a>
            <a href="#">企业发展与合作</a>
            <a href="#">公益广告</a>
            <a href="#">加入我们</a>
          </ul>
      </li>
      <li>
          <a href="#">环保工作</a>
          <ul class="subnav">
            <a href="#">最新动态</a>
            <a href="#">特别报道</a>
            <a href="#">电子刊物</a>
            <a href="#">资料下载</a>
            <a href="#">工作建议</a>
          </ul>
      </li>
      <li>
          <a href="#">项目介绍</a>
          <ul class="subnav">
            <a href="#">关于我们</a>
            <a href="#">三沙市介绍</a>
            <a href="#">企业发展与合作</a>
            <a href="#">公益广告</a>
            <a href="#">加入我们</a>
          </ul>
      </li>
      <li>
          <a href="#">我要捐款</a>
          <ul></ul>
      </li>
      <li>
          <a href="#">公益伙伴</a>
          <ul></ul>
      </li>
      <li>
          <a href="#">爱心榜单</a>
          <ul></ul>
      </li>
  </ul>
</div>
<!-- header -->
<div class="wrap pic">
    <div class="picarea">
        <div class="pictab">
            <img id="imgtab" />
            <li id="prev"><a><img src="../../images/demos/banner_prev.jpg"></a></li>
            <li id="next"><a><img src="../../images/demos/banner_next.jpg"></a></li>
            <p id="pictext"><a href="#">三沙市珊瑚礁保护工程开始啦！</a></p>
        </div>
        <ul id="minipic" class="minipic">
            <li><img /></li>
            <li><img /></li>
            <li><img /></li>
            <li><img /></li>
            <li><img /></li>
        </ul>
    </div> 
<!--header_slider-->  
    <div class="header_slider">
        <div class="news">
          <h2><a href="#">【知识】你知道海里的珊瑚礁都有哪些种类吗？</a></h2>
          <span class="date"><span id="date_text"><strong>◎</strong>时间：2015年7月15日</span><span class="week_text" id="week_text">周三</span><a href="#">新闻动态</a></span>
          <p class="news_intro">根据珊瑚礁在海洋中所处的位置和礁体的形态，可分为岸礁、煲礁、环礁、台礁和点礁。岸礁和堡礁又通称为近岸礁，环礁和台礁通称为大洋礁或远洋礁。顾名思义，近岸礁靠近大陆的连缘，远洋礁坐落于汪洋之中，点礁则是位于泻湖内的小礁体。
</p>
         <span class="news_show"><a href="#">显示全部</a></span>
       </div>
       <ul class="newslist">
           <li><span>>&nbsp;</span><a href="#">三沙市珊瑚礁保护工程开始啦</a></li>
           <li><span>>&nbsp;</span><a href="#">三沙市珊瑚礁保护工程开始啦</a></li>
           <li><span>>&nbsp;</span><a href="#">三沙市珊瑚礁保护工程开始啦</a></li>
           <li><span>>&nbsp;</span><a href="#">三沙市珊瑚礁保护工程开始啦</a></li>
           <li><span>>&nbsp;</span><a href="#">三沙市珊瑚礁保护工程开始啦</a></li>
           <li><span>>&nbsp;</span><a href="#">三沙市珊瑚礁保护工程开始啦</a></li>
           <li><span>>&nbsp;</span><a href="#">三沙市珊瑚礁保护工程开始啦</a></li>
       </ul>
    </div>
</div>

<!--picture-->
<div class="picurl wrap">
<a href="#"><img src="../../images/demos/4.jpg" width="1000px" height="200px" /></a>
</div>

<!--content-->
<div class="content wrap">
  <div class="content_left">

      <!--tabcontent1-->
      <div class="tabcontent tabcontent1" id="ct1">
          <ul class="column">
              <li><img src="../../images/demos/icon-news.png" />最新资讯</li>
              <li><img src="../../images/demos/wedo.gif" />我们在行动</li>
              <li><img src="../../images/demos/icon-book.gif" />珊瑚礁资料</li>
              <li><img src="../../images/demos/icon-document.gif" />照片墙</li>
          </ul>
          <!--columncontent1-->        
          <div class="columncontent colc1">
              <!--wedo-->
              <div class="columnpos" id="wedo">
                  <ul class="columnlist">
                      <li><a href="#">珊瑚礁保护项目介绍！</a></li>
                      <li><a href="#">三沙市珊瑚礁保护工程开始啦！</a></li>
                      <li><a href="#">三沙市珊瑚礁保护工程开始啦！</a></li>
                      <li><a href="#">三沙市珊瑚礁保护工程开始啦！</a></li>
                      <li><a href="#">三沙市珊瑚礁保护工程开始啦！</a></li>
                      <li><a href="#">三沙市珊瑚礁保护工程开始啦！</a></li>
                      <li><a href="#">三沙市珊瑚礁保护工程开始啦！</a></li>
                      <li><a href="#">三沙市珊瑚礁保护工程开始啦！</a></li>
                  </ul>
                  <div class="columnright">
                      <h2><a href="#">珊瑚礁保护项目介绍！</a></h2>
                      <p><img src="../../images/demos/1.jpg" alt="珊瑚" />根据珊瑚礁在海洋中所处的位置和礁体的形态，可分为岸礁、煲礁、环礁、台礁和点礁。岸礁和堡礁又通称为近岸礁，环礁和台礁通称为大洋礁或远洋礁。顾名思义，近岸礁靠近大陆的连缘，远洋礁坐落于汪洋之中，点礁则是位于泻湖内的小礁体。 岸礁 岸礁亦称裙礁或连缘礁，它像花边一样镶嵌在大陆或岛屿的边缘或周围。它是非人工筑起的水下防波堤，起着保护海岸的作用。</p>
                  </div>
              </div>

              <!--ct1photo-->
              <div class="columnpos columncontent" id="ct1photo">
                  <div><img src="../../images/demos/2.jpg" alt="珊瑚"/><p><a href="#">三沙市美景</a></p></div>
                  <div><img src="../../images/demos/3.jpg" alt="珊瑚"/><p><a href="#">珊瑚礁</a></p></div>
                  <div><img src="../../images/demos/4.jpg" alt="珊瑚"/><p><a href="#">热带鱼类</a></p></div>
                  <div><img src="../../images/demos/5.jpg" alt="珊瑚"/><p><a href="#">珊瑚保护现场</a></p></div>
                  <div><img src="../../images/demos/1.jpg" alt="珊瑚"/><p><a href="#">海底纪念碑</a></p></div>
                  <div><img src="../../images/demos/6.jpg" alt="珊瑚"/><p><a href="#">潜水活动</a></p></div>
              </div>

              <!--caydoc-->
              <div class="columnpos columncontent" id="caydoc">
                  <div>
                      <a href="#">珊瑚礁的种类及分布介绍</a>
                      <img src="../../images/demos/wenhao2.png" alt="珊瑚礁" />
                  </div>
                  <div>
                      <a href="#">珊瑚礁的发展阶段与研究意义</a>
                      <img src="../../images/demos/1.jpg" alt="珊瑚礁" />

                  </div>
                  <div>
                      <a href="#">珊瑚礁的种类及分布介绍</a>
                      <img src="../../images/demos/2.jpg" alt="珊瑚礁" />
                  </div>
              </div>

              <!-- caynews -->
              <div class="columnpos columncontent" id="caynews">
                  <img id="cnewsimg" src="../../images/demos/4.jpg" alt="珊瑚" />
                  <p>
                     <a href="#">三沙市珊瑚礁保护工程开始啦！</a>
                     <span class="colu_buttons">
                         <span></span>
                         <span></span>
                         <span></span>
                         <span></span>
                         <span></span>
                         <span></span>
                     </span>
                  </p>
              </div>

          </div>  
      </div>  


      <!--tabcontent2-->
      <div class="tabcontent tabcontent2" id="ct2">
          <ul class="column column2">
              <li>会员风采</li>
              <li>会员文集</li>
              <li>捐助一览</li>
              <li>政府支持</li>
          </ul>
          <!-- member_collected -->
          <div class="columncontent colc2" id="member_collected">
              <ul class="columnlist">
                  <li><a href="#">珊瑚礁保护项目介绍！</a></li>
                  <li><a href="#">三沙市珊瑚礁保护工程开始啦！</a></li>
                  <li><a href="#">三沙市珊瑚礁保护工程开始啦！</a></li>
                  <li><a href="#">三沙市珊瑚礁保护工程开始啦！</a></li>
                  <li><a href="#">三沙市珊瑚礁保护工程开始啦！</a></li>
                  <li><a href="#">三沙市珊瑚礁保护工程开始啦！</a></li>
                  <li><a href="#">三沙市珊瑚礁保护工程开始啦！</a></li>
                  <li><a href="#">三沙市珊瑚礁保护工程开始啦！</a></li>
              </ul>
              <div class="columnright">
                  <h2><a href="#">珊瑚礁保护项目介绍！</a></h2>
                  <p><img src="../../images/demos/1.jpg" alt="珊瑚礁" />根据珊瑚礁在海洋中所处的位置和礁体的形态，可分为岸礁、煲礁、环礁、台礁和点礁。岸礁和堡礁又通称为近岸礁，环礁和台礁通称为大洋礁或远洋礁。顾名思义，近岸礁靠近大陆的连缘，远洋礁坐落于汪洋之中，点礁则是位于泻湖内的小礁体。 岸礁 岸礁亦称裙礁或连缘礁，它像花边一样镶嵌在大陆或岛屿的边缘或周围。它是非人工筑起的水下防波堤，起着保护海岸的作用。</p>
              </div>
          </div>
          <!-- member_photo -->
          <div class="columncontent" id="member_photo">
              <div>
                  <div>
                    <img src="../../images/demos/8.jpg" alt="1" />
                    <p><a href="#">熊猫-保护珊瑚礁与海洋生态</a></p>
                  </div>
                  <div>
                    <img src="../../images/demos/7.jpg" alt="1" />
                    <p><a href="#">熊猫-保护珊瑚礁与海洋生态</a></p>
                  </div>
                  <div>
                    <img src="../../images/demos/6.jpg" alt="1" />
                    <p><a href="#">熊猫-保护珊瑚礁与海洋生态</a></p>
                  </div>
                  <div>
                    <img src="../../images/demos/5.jpg" alt="1" />
                    <p><a href="#">熊猫-保护珊瑚礁与海洋生态</a></p>
                  </div>
                  <div>
                    <img src="../../images/demos/4.jpg" alt="1" />
                    <p><a href="#">熊猫-保护珊瑚礁与海洋生态</a></p>
                  </div>
              </div>
              <div>
                  <div>
                    <img src="../../images/demos/2.jpg" alt="1" />
                    <p><a href="#">熊猫-保护珊瑚礁与海洋生态熊猫-保护珊瑚礁与海洋生态</a></p>
                  </div>
                  <div>
                    <img src="../../images/demos/1.jpg" alt="1" />
                    <p><a href="#">熊猫-保护珊瑚礁与海洋生态</a></p>
                  </div>
                  <div>
                    <img src="../../images/demos/3.jpg" alt="1" />
                    <p><a href="#">熊猫-保护珊瑚礁与海洋生态</a></p>
                  </div>
                  <div>
                    <img src="../../images/demos/4.jpg" alt="1" />
                    <p><a href="#">熊猫-保护珊瑚礁与海洋生态</a></p>
                  </div>
                  <div>
                    <img src="../../images/demos/4.jpg" alt="1" />
                    <p><a href="#">熊猫-保护珊瑚礁与海洋生态</a></p>
                  </div>
              </div>
          </div>

          <!-- member_donate -->
          <div class="columncontent" id="member_donate">
              <div>
                <p>熊猫先生的捐助：1000元</p>
                <p>熊猫先生的捐助：1000元</p>
                <p>熊猫先生的捐助：1000元</p>
                <p>熊猫先生的捐助：1000元</p>
                <p>熊猫先生的捐助：1000元</p>
                <p>熊猫先生的捐助：1000元</p>
                <p>熊猫先生的捐助：1000元</p>
              </div>
              <div>
                <p>熊猫先生的捐助：1000元</p>
                <p>熊猫先生的捐助：1000元</p>
                <p>熊猫先生的捐助：1000元</p>
                <p>熊猫先生的捐助：1000元</p>
                <p>熊猫先生的捐助：1000元</p>
                <p>熊猫先生的捐助：1000元</p>
                <p>熊猫先生的捐助：1000元</p>
              </div>
          </div>
          <!-- goverment support -->
          <div class="columncontent" id="gov_support">
              <div>
                  <p>
                    <img src="../../images/demos/1.jpg" alt="gov_support" />
                  这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍。这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍。这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍，这里是政府支持的介绍。</p>
              </div>
          </div>
      </div>  

  </div>

  <div class="content-slider">
      <div class="content-slider-first"><a href="#"><img src="../../images/demos/1.jpg" alt="gov_support" /></a></div>
      <div class="content-slider-second"><a href="#"><img src="../../images/demos/2.jpg" alt="gov_support" /></a></div>
      <div class="content-slider-third"><a href="#"><img src="../../images/demos/3.jpg" alt="gov_support" /></a></div>
  </div>  
</div>

<!-- 渐变 -->
<div></div>

<!-- footer -->
<footer>
    <div class="wrap footerstyle">
        <div class="footer_coral">
            <div class="footer_coral-protect">
                <h2>保护珊瑚礁</h2>
                <ul>
                    <li><a href="#">活动预告</a></li>
                    <li><a href="#">新闻传播</a></li>
                    <li><a href="#">会员之家</a></li>
                    <li><a href="#">相册集</a></li>
                    <li><a href="#">友情链接</a></li>
                </ul> 
            </div>
            <div class="footer_coral-focus">
                <h2>关注我们</h2>
                <ul>
                   <li><a href="#" alt="about"><img src="../../images/demos/icon-sina.gif" alt="about_sina" />新浪微博</a></li>
                   <li><a href="#" alt="about"><img src="../../images/demos/icon-tencent.gif" alt="about_sina" />腾讯微博</a></li>
                   <li><a href="#" alt="about"><img src="../../images/demos/icon-renren.gif" alt="about_sina" />人人主页</a></li>
                   <li><a href="#" alt="about"><img src="../../images/demos/icon-douban.gif" alt="about_sina" />豆瓣主页</a></li>
                   <li><a href="#" alt="about"><img src="../../images/demos/icon-en.gif" alt="about_sina" />English</a></li>
                   <li><a href="#" alt="about"><img src="../../images/demos/icon-heart.gif" alt="about_sina" />收藏</a></li>
                   <li><a href="#" alt="about"><img src="../../images/demos/icon-old.gif" alt="about_sina" />旧版网站</a></li>
                   <li><a href="#" alt="about"><img src="../../images/demos/icon-rss.gif" alt="about_sina" />RSS订阅</a></li>
                </ul>
            </div>
        </div>
        <div class="footer_about">
            <div>
                <h2>关于我们</h2>
                <ul>
                    <li><a href="#">简介</a></li>
                    <li><a href="#">机构章程</a></li>
                    <li><a href="#">理事会</a></li>
                    <li><a href="#">年度报告</a></li>
                    <li><a href="#">工作团队</a></li>
                    <li><a href="#">大事记</a></li>
                    <li><a href="#">我们的成就</a></li>
                    <li><a href="#">创始会长-XXX先生</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">合作伙伴</a></li>
                    <li><a href="#">支持我们</a></li>
                    <li><a href="#">加入我们</a></li>
                </ul>
            </div>
            <div class="footer_about-memberclub">
                <h2>会员小组论坛</h2>
                <ul>
                    <li><a href="#">贝壳小组</a></li>
                    <li><a href="#">海鸥小组</a></li>
                    <li><a href="#">珊瑚小组</a></li>
                    <li><a href="#">海洋小组</a></li>
                </ul> 
            </div>
        </div>
        <div class="footer_whatwedo">
            <h2>我们在做什么</h2>
            <div class="footer_whatwedo-left">
                
                <img src="../../images/demos/bicon-rbox.jpg" alt="rbox">
                <div class="footer_whatwedo-left-message">
                    <ul>
                        <h3>海洋垃圾清理</h3>
                        <li><a href="#">蓝丝带志愿者</a></li>
                        <li><a href="#">海鸥小组</a></li>
                        <li><a href="#">珊瑚小组</a></li>
                        <li><a href="#">海洋小组</a></li>
                        <li><a href="#">海洋小组</a></li>
                    </ul>
                </div>

                <div class="cleardiv"></div>

                <img src="../../images/demos/bicon-tianping.gif" alt="rbox">
                <div class="footer_whatwedo-left-message">
                    <ul>
                        <h3>公众参与与信息公开</h3>
                        <li><a href="#">环境法律咨询</a></li>
                        <li><a href="#">环境公益诉讼</a></li>
                    </ul>
                </div>

                <div class="cleardiv"></div>

                <img src="../../images/demos/bion-house.gif" alt="rbox">
                <div class="footer_whatwedo-left-message">
                    <ul>
                        <h3>洁净海滩</h3>
                        <li><a href="#">干净海滩地图</a></li>
                        <li><a href="#">洁净海滩公益组织</a></li>
                        <li><a href="#">校园公益</a></li>
                        <li><a href="#">企业公益</a></li>
                    </ul>
                </div>

            </div>
            <div class="footer_whatwedo-right">

                <img src="../../images/demos/bicon-leaf.gif" alt="rbox">
                <div class="footer_whatwedo-left-message">
                    <ul>
                        <h3>政府支持</h3>
                        <li><a href="#">国家海洋局</a></li>
                        <li><a href="#">海南省政府</a></li>
                    </ul>
                </div>

                <div class="cleardiv"></div>

                <img src="../../images/demos/bicon-discuss.gif" alt="rbox">
                <div class="footer_whatwedo-left-message">
                    <ul>
                        <h3>珊瑚礁保护区</h3>
                        <li><a href="#">三沙市</a></li>
                        <li><a href="#">美丽珊瑚</a></li>
                    </ul>
                </div>

                <div class="cleardiv"></div>

                <img src="../../images/demos/bicon-book.gif" alt="rbox">
                <div class="footer_whatwedo-left-message">
                    <ul>
                        <h3>环境教育</h3>
                        <li><a href="#">蓝色希望行动</a></li>
                        <li><a href="#">海洋体验营</a></li>
                        <li><a href="#">地球守护</a></li>
                        <li><a href="#">潜水活动</a></li>
                        <li><a href="#">珊瑚博物馆</a></li>
                        <li><a href="#">珊瑚资料</a></li>
                    </ul>
                </div>

                <div class="cleardiv"></div>

            </div>
        </div>
        <div class="footer_action">
            <div>
                <h2>开始行动</h2>
                <ul>
                    <li><a href="#">注册会员</a></li>
                    <li><a href="#">成为志愿者</a></li>
                    <li><a href="#">加入团队</a></li>
                    <li><a href="#">领养珊瑚</a></li>
                    <li><a href="#">捐赠钱物</a></li>
                    <li><a href="#">企业认购</a></li>
                    <li><a href="#">二维码</a></li>
                    <div class="bevel"></div>
                </ul>
            </div>
        </div>
    </div>
</footer>


</body>
</html>
