<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tab切换</title>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/demos/tab.css">
	<script type="text/javascript" src="../../javascripts/demos/tab.js"></script>
</head>
<body>
	<div id="notice" class="notice">
		<div id="notice-title" class="notice-title">
			<ul>
				<li class="select"><a href="#">公告</a></li>
				<li><a href="#">规则</a></li>
				<li><a href="#">论坛</a></li>
				<li><a href="#">安全</a></li>
				<li><a href="#">公益</a></li>
			</ul>
		</div>
		<div id="notice-content" class="notice-content">
			<div class="mod">
				<ul>
					<li><a href="#">张勇：要快乐的玩足球</a></li>
					<li><a href="#">阿里2000万驰援灾区</a></li>
					<li><a href="#">重寻湘西的自由朴野之美</a></li>
					<li><a href="#">生命中不能承受之轻</a></li>
				</ul>
			</div>
			<div class="mod">
				<ul>
					<li><a href="#">第1章 课程介绍</a></li>
					<li><a href="#">第2章 网页制作准备</a></li>
					<li><a href="#">第3章 基于bootstrap的网页制作</a></li>
					<li><a href="#">第4章 编程挑战</a></li>
				</ul>
			</div>
			<div class="mod">
				<ul>
					<li><a href="#">第1章 滑动、点击切换效果实现</a></li>
					<li><a href="#">第2章 延迟切换效果</a></li>
					<li><a href="#">第3章 自动切换效果</a></li>
					<li><a href="#">第4章 编程挑战</a></li>
				</ul>
			</div>
			<div class="mod">
				<ul>
					<li><a href="#">第1章 普通信息列表</a></li>
					<li><a href="#">第2章 信息列表---带鼠标悬停效果</a></li>
					<li><a href="#">第3章 信息列表-- 手风琴效果(JS技术实现)</a></li>
					<li><a href="#">第4章 信息列表-- 手风琴效果(jQ技术实现)</a></li>
				</ul>
			</div>
			<div class="mod">
				<ul>
					<li><a href="#">第1章 简单搜索框</a></li>
					<li><a href="#">第2章 智能提示搜索框制作</a></li>
					<li><a href="#">第3章 淘宝搜索框制作</a></li>
					<li><a href="#">第4章 自定义</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>